/*@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');*/
/*default settings or hardreset*/
* { 
	font-family: 'Roboto', sans-serif ;
	padding: 0; margin:0;
	text-decoration: none;
	color: white;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
::-webkit-scrollbar {
display: none;
}

/*html { overflow: hidden; }*/

html { z-index: 1; }
body {
	background-image: url('../images/imagecompressor/f4.jpg');
	background-attachment: fixed;
}
@keyframes showImagen {
	from {
		opacity: 0;
		background-position-y: 25%;
		border-bottom-left-radius: 0;
    	border-bottom-right-radius: 0;
	}
	50% {
		opacity: 1;
		background-image: url('../images/imagecompressor/f4.jpg');
        background-position-y: 45%;
	}
	to {
		background-image: url('../images/imagecompressor/sda.jpg');
 		border-bottom-left-radius: 30px;
    	border-bottom-right-radius: 30px;
	}
}


header {
	transition: 1s ease all;
	animation-name: showImagen;
	animation-duration: 5s;
	height: 360px;
	background-image: url('../images/imagecompressor/sda.jpg');
    background-repeat: no-repeat;
    background-position-y: 25%;
    background-color: #a5a54f;
    box-shadow: 1px 4px 10px black;
    margin: 0 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    animation-iteration-count: ease-in-out;
}
.logo {width: 200px; height: 200px; overflow: hidden;}
.logo img { object-fit: cover; width: 100%; text-align: center;}


.wrapper-puppop {
	transition: 0.4s ease all;
	z-index: 1;
	position: fixed;
	width: 100%;
	height: 100%;
	background-image: url('../images/imagecompressor/f15.jpg');
	background-repeat: no-repeat;
}
.clsd { width: 100%; text-align: right;   background: red; cursor: pointer; }
.clsd p {padding: 10px;}
i { font-size: 12px; }
.container-pop {
	width: 100%;
	height: 100%;
	display: grid;
	align-items: center;
	justify-content: center;
}
.line { border: 1px solid #FFD95A; color: #FFD95A; }
.smooth { font-size: 14px!important; color: #FFF7D4!important; font-weight: 100;}
.pop-get, .pop-post, .pop-put, .pop-del {
	overflow-y: auto;
	border: 3px solid silver;
	max-height: 400px;
	max-width: 400px;
	border-radius: 20px;
	padding: 100px;
    background-color: #000000f5;
}

.pop-get { display: none; }
.pop-post { display: none;  }
.pop-put { display: none;  }
.pop-del { display: none; }

.linespace {padding: 30px 0;}
.contain-header {
    width: 100%;
	background: #41439ff0;
	text-align: center;
}
.contain-header-x {
	width: 100%;
	text-align: center;
	font-weight: 100;
	display: grid;
	justify-items: center;
}
.contain-header-x h2 { font-weight: 100; margin-bottom: 20px; color: yellow; }
.contain-header-x p { color: #F6FFDE; }
.section {  
	display: grid;
	grid-template-columns: 70% 30%;
	background-color: #4448abe3;
	margin: 50px;
	padding: 50px;}
	.compres {
		overflow: hidden;
		border: 1px solid orange;
		border-radius: 5px;
		width: 300px;
		height: auto;
		background-image: url('../images/imagecompressor/php.png');
		background-size: contain;
		background-repeat: no-repeat;
	}
	.section h2 { color: #FFA559; border-bottom: 2px solid #fd7e33; width: 200px; margin-bottom: 10px; padding-bottom: 10px;}
    .section p { color: #FFE6C7; }
    .section span { color: #F6BA6F; cursor: pointer;}
    .section span:hover { color: white; }
    .section b { color: white; font-size: 13px; color: #393646;} 
    .mini-text { font-size: 18px; font-weight: 100; border-bottom: 1px solid ; }
    .mini-text p { color: white; padding-bottom: 20px;}
.mini-t { color: #afafaf;}

.content {
    width: 100%;
    height: auto;
}
.h-text  { margin: 50px 60px; font-size: 30px;  padding: 20px;}
.h-text h3 {font-weight: bold; color: #f2c94c;}
.h-text p { font-family: calibri; font-weight: 100; font-size: 19px!important; color: #f2c94c; }

.crud {
	display: grid;
	grid-template-columns: 40% 1% 40%;
	justify-content: center;
	margin: 10px 50px;
	padding: 10px;
}
.box_post_one, .box_post_two, .box_post_two_1 { height: 500px; border-radius: 20px; padding: 20px;}
.box_post_two_1 { background: white; color: black;}
.box_post_two_1 p { color: black!important; }
.box_post_two_1 h3 { color: black!important; }
/*default css*/
.wrapper-form-exm1, .wrapper-form-exm2 { border-radius: 21px; position: relative; z-index: 2;}
.wrapper-form-exm1 {  background-image: url('../images/imagecompressor/dor.jpg'); }
.wrapper-form-exm2 {  background-image: url('../images/imagecompressor/f10.jpg'); background-size: cover; }

.chain_form {
	background: #F2994A;
    background: -webkit-linear-gradient(to bottom, #F2C94C, #F2994A);
    background: linear-gradient(to bottom, #f2c94c, #f2994af5);
	display: grid;
	justify-items: center;
	align-items: center;
	position: relative;
	z-index: 9;
}
.chain_form form {
	border-radius: 10px;
	padding: 20px;
	background: #4C3D3D;
	border-bottom: 2px solid orangered;
	border-right: 2px solid #FFD95A;
	box-shadow: 0px 4px 12px #ff5e00;

}
.chain_form form input { display: block; padding: 5px; outline: none; border: 1px solid #4C3D3D; background: white; color: #4C3D3D; margin: 10px 0; font-weight: bold; border-radius: 10px; }
.chain_form form button { background: black; color: white; border-radius: 10px; padding: 10px; border: none; margin-top: 10px; cursor: pointer; }
.chain_form form button:hover { background: orangered; }
.space_bar { background: #42275a;
    background: -webkit-linear-gradient(to right, #734b6d, #42275a);
    background: linear-gradient(to right, #734b6dfa, #42275a); }

.space-loader {
	padding-left: 5px; font-size: 10px;}
   .dot { display: inline-block;  margin-top: 10px;  }
	/*не стал использовать вебкиды префиксы для демонстрации толко*/
	div.r-dot li, div.b-dot li, div.c-dot li {transition: all 1s ease;}
	div.r-dot li  { color: orange; transition-delay: 1.5s; }
	dir.b-dot li { transition-delay: 0.5s; }
	div.c-dot li { transition-delay: 1s;}

    .chain_form form:hover div.r-dot li { color: silver; } 
    .chain_form form:hover div.b-dot li { color: orange; }
    .chain_form form:hover div.c-dot li { color: orangered; }



.content-wrapper {
	padding: 50px 0;
	background: #42275a;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #734b6d, #42275a);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #734b6d, #42275a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.box_post_two { background: #B04759;}

.box-attention {
	background-image: url('../images/imagecompressor/f7.jpg'); background-size: cover;
	padding: 150px 0;
	display: grid;
	grid-template-columns: 30% 30% 30%;
	justify-items: center;
	align-items: center;
}

.php-party {
	padding: 5px;
	font-size: 49px;
	transform: rotate(-6deg);
}
.php-party p { display: inline-block!important; }

.sql-party {
	background: silver;
	padding: 5px;
	font-size: 49px;
	font-family: ROBOTO;
}

.party-p {
	animation: party-p1 12s infinite ease-in-out;
}


.party-h {
	padding-left: 10px;
	padding-bottom: 10px;
    animation: party-p2 12s infinite ease;
}

.blue { color: #fff;  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6 }



@keyframes party-p1 {
	10% {padding-left: 5px; }
	20% { padding-left: 8px; }
	30% { padding-left: 10px; }
	40%{ padding-left: 8px; }
	50% {
		transform: rotate(16deg);
		padding-left: 10px;
		padding-top: 5px;
	}
	60% { padding-left: 8px;  }
	70% {
		transform: rotate(-6deg);
		padding-top: 0;
		padding-left: 0px;
		
	}
	90% { padding-top: 4px; }
}



@keyframes party-p2 {
	from {
		padding-left: -5px;
	}
	50% {
		padding-left: 0;
		margin-bottom: -10px;
	}
	to {
		padding-top: 0;
	}
}


.sql-desk {
	z-index: 100;
	position: relative!important;
	max-width: 400px;
	padding: 20px;
	background: #212A3E;
	border-radius: 15px;
	transition: 1s ease all;
	animation-name: kikdown;
	animation-iteration-count: ease;	
}

.sql-desk  span  p { 
	color: #F9D949;
	font-size: 12px;
}

.sql-desk:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(42deg, #f89b29 0%, #ff0f7b 72% );
    transform: translate3d(-10px, 24px, 0) scale(0.95);
    filter: blur(30px);
    opacity: var(0.71);
    transition: opacity 0.3s;
    border-radius: inherit;
    animation: chshadow 11s linear infinite alternate;
}

.sql-desk::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}
        
        
   @keyframes chshadow {
	from {
		background: linear-gradient(42deg, #f89b29 0%, #ff0f7b 72% );
    transform: translate3d(-10px, 10px, 0) scale(0.95);
	}
	50% {
		background: linear-gradient(42deg, #f89b29 0%, #ff0f7b 72% );
    transform: translate3d(10px, 15px, 0) scale(0.95);
	}
	to {
		background: linear-gradient(42deg, #f89b29 0%, #ff0f7b 72% );
    transform: translate3d(-10px, 10px, 0) scale(0.95);
	}
}     




/*footer*/
footer {
	border-top: 1px solid orange;
	margin-top: 50px;
	padding: 50px;
	background: #E76161;
	background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63f2, #29244e);
}
.logo-center { margin: 0 auto; width: 90px; height: 90px; padding: 10px; margin-bottom: 20px; border-bottom: 1px solid orange;}
.logo-center img {   object-fit: contain; }

.foo-wrapper {
	text-align: left;
	margin: 0 auto;
	width: 80%;
	display: grid;	
	grid-template-columns: 30% 30% 30%;
	justify-items: center;
	justify-content: center;
}


.foo-wrapper section {  width: 100px; }
.foo-wrapper section li {list-style-type: none; padding: 2px 0;  border-bottom: 1px solid silver;}
.foo-wrapper section li a { font-size: calibri; font-size: 12px; }
.foo-wrapper section li a:hover { color: orangered; }
.tags-skils h3 { text-align: center; font-family: Calibri; font-weight: 100; margin: 40px 0;}
.teck { width: 20px; margin: 0 auto;}
.teck p {padding: 10px; margin: 0 auto;}
.line-and { padding: 20px; background: #3C486B; background: #16BFFD;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #CB3066, #16BFFD);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #CB3066, #16BFFD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 }
.line-and h5 {font-family: calibri; font-weight: bold; }


@media (max-width: 1920px) {
	header {
	    background-size: cover;}
	.contain-header {
		text-align: center;}
}

@media (max-width: 400px) {
	.mob-i {
		padding: 10px;
		background: rgba(136, 136, 136, 0.8)
	}
	.contain-header h1 {
		font-weight: 100px;
		font-size: 11px;}
	.contain-header p { 
		font-size: 11px;
		margin-top: 5px;
		border-top: 1px solid white;
		padding-top: 5px;}
	.contain-header {
		position: relative;
	    width: auto;
		overflow-wrap: break-word;
		text-align: left;
		padding: 20px;
		background: #000;}
}
@media (min-width: 601px) and (max-width: 1024px) {
	.compres {display: none;}
	.section {  
	display: grid;
	grid-template-columns: 100%;}
	.logo {width: 100px; height: 100px; overflow: hidden;}
}
/*sorry for DRY*/
@media (min-width: 401px) and (max-width: 600px) {

	.compres {display: none;}
	.section {  
	display: grid;
	grid-template-columns: 100%;}
	.logo {width: 100px; height: 100px; overflow: hidden;}
    .logo img { object-fit: cover; width: 100%; text-align: center;}
	.mob-i {
		padding: 10px;
		background: rgb(28 20 20 / 73%);
		border-radius: 10px;
	}
	.contain-header h1 {
		font-weight: 100px;
		font-size: 17px;}
	.contain-header p { 
		font-size: 16px;
		margin-top: 5px;
		border-top: 1px solid white;
		padding-top: 5px;}
	.contain-header {
		position: relative;
	    width: auto;
		overflow-wrap: break-word;
		text-align: left;
		padding: 20px;
	} 
}