@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
/*default settings or hardreset*/
* { 
	font-family: 'Roboto', sans-serif ;
	padding: 0; margin:0;
	text-decoration: none;
	color: white;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/*html { overflow: hidden; }*/



@keyframes showImagen {
	from {
		opacity: 0;
		background-position-y: 25%;
		border-bottom-left-radius: 0;
    	border-bottom-right-radius: 0;
	}
	50% {
		opacity: 1;
		background-image: url('../images/imagecompressor/sda.jpg');
        background-position-y: 45%;
	}
	to {
		background-image: url('../images/imagecompressor/sda.jpg');
 		border-bottom-left-radius: 30px;
    	border-bottom-right-radius: 30px;
	}
}


header {
	transition: 1s ease all;
	animation-name: showImagen;
	animation-duration: 5s;
	height: 300px;
	background-image: url('../images/imagecompressor/sda.jpg');
    background-repeat: no-repeat;
    background-position-y: 25%;
    background-color: #a5a54f;
    box-shadow: 1px 4px 10px black;
    margin: 0 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    animation-iteration-count: ease-in-out;
}

.wrapper-puppop {
	display: none;
	z-index: 1;
	position: fixed;
	width: 100%;
	height: 100%;
	background-image: url('../images/imagecompressor/f15.jpg');
	background-repeat: no-repeat;
}
.clsd { width: 100%; text-align: right;   background: red; cursor: pointer; }
.clsd p {padding: 10px;}

.container-pop {
	width: 100%;
	height: 100%;
	display: grid;
	align-items: center;
	justify-content: center;
}

.pop-get, .pop-post, .pop-put, .pop-del {
	display: block;
	border: 3px solid silver;
	min-height: 200px;
	min-width: 200px;
	border-radius: 20px;
	padding: 200px;
	backdrop-filter: blur(10px);
}

.pop-get { display: none; }
.pop-post { display: none;  }
.pop-put { display: none;  }
.pop-del {  }


.linespace {
	padding: 30px 0;}



.contain-header {
    width: 100%;
	background: rgba(0, 0, 0, 0.6);
	text-align: center;
}
.contain-header-x {
	width: 100%;
	text-align: center;
	font-weight: 100;
}
.contain-header-x h2 { font-weight: 100; margin-bottom: 20px; color: yellow; }
.contain-header-x p { color: #F6FFDE; }
.section {  
	background-image: url('../images/imagecompressor/f3.jpg');
	background-position-y: 25%;
	background-size: cover;
	background-color: grey;
	margin: 50px;
	padding: 50px;}
	.section h2 { color: #FFA559; border-bottom: 2px solid #9CA777; width: 200px; margin-bottom: 10px;}
    .section p { color: #FFE6C7; }
    .section span { color: #F6BA6F; cursor: pointer;}
    .section span:hover { color: white; }
    .section b { color: white; font-size: 13px; color: #393646;} 
    .mini-text { font-size: 18px; font-weight: 100; border-bottom: 1px solid white;}
    .mini-text p { color: white; }
.content {
	height: 1000px;
	background-image: url('../images/imagecompressor/f8.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
}

.backg-filter {
	width: 100%;
	height: 100%;
	backdrop-filter: blur(30px);
	color: red;
}
.crud {
	color: black;
}

/*body {}*/



@media (max-width: 1920px) {
	header {
	    background-size: cover;}
	.contain-header {
		text-align: center;}
}

@media (max-width: 400px) {
	.mob-i {
		padding: 10px;
		background: rgba(136, 136, 136, 0.8)
	}
	.contain-header h1 {
		font-weight: 100px;
		font-size: 11px;}
	.contain-header p { 
		font-size: 11px;
		margin-top: 5px;
		border-top: 1px solid white;
		padding-top: 5px;}
	.contain-header {
		position: relative;
	    width: auto;
		overflow-wrap: break-word;
		text-align: left;
		padding: 20px;
		background: #000;}
}
/*sorry for DRY*/
@media (min-width: 401px) and (max-width: 600px) {
	.mob-i {
		padding: 10px;
		background: rgba(136, 136, 136, 0.8)
	}
	.contain-header h1 {
		font-weight: 100px;
		font-size: 17px;}
	.contain-header p { 
		font-size: 16px;
		margin-top: 5px;
		border-top: 1px solid white;
		padding-top: 5px;}
	.contain-header {
		position: relative;
	    width: auto;
		overflow-wrap: break-word;
		text-align: left;
		padding: 20px;
	} 
}